<strong class="text-dark">MY ACCOUNT</strong>
<ul class="p-0 nav flex-column">
    <li>
        <a [routerLink]="['/user/register']" href="#" class="text-secondary nav-link p-0">Register</a>
    </li>
    <li>
        <a [routerLink]="['/cart']" href="" class="text-secondary nav-link p-0">My Shopping Cart</a>
    </li>
    <li>
        <a [routerLink]="['/orders']" href="" class="text-secondary nav-link p-0">My Orders</a>
    </li>
    <li>
        <a [routerLink]="['/addresses']" href="" class="text-secondary nav-link p-0">My Addresses</a>
    </li>
    <li>
        <a [routerLink]="['/wishlist']" href="" class="text-secondary nav-link p-0">Wish Lists</a>
    </li>
    <li>
        <a [routerLink]="['/user/account-settings']" href="" class="text-secondary nav-link p-0">Account
            Settings</a>
    </li>
    <li>
        <a [routerLink]="['/user/account-summary']" href="" class="text-secondary nav-link p-0">Account
            Summary</a>
    </li>
</ul>
<strong class="text-dark">INTELLECTUAL PROPERTY </strong>
<ul class="p-0 nav flex-column">
    <li>
        <a [routerLink]="['/home']" href="#" class="text-secondary nav-link p-0">Brand and Copyright
            Owners</a>
    </li>
    <li>
        <a [routerLink]="['/home']" href="" class="text-secondary nav-link p-0">Marketplace Sellers</a>
    </li>
</ul>