<section class="contianer-fluid bg-light py-2">
    <div class="container d-lg-block d-none py-2">
        <div class="row">
            <div class="col-3">
                <strong class="text-dark">{{'POPULAR SEARCHES' | translate }}</strong>
                <ul class="p-0 nav flex-column">
                    <li *ngFor="let cat of categories">
                        <a href="#" [routerLink]="['/category',cat.categoryName]"
                            class="text-secondary nav-link p-0">{{cat.categoryName}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <app-footer-my-account></app-footer-my-account>
            </div>
            <div class="col-3">
      
                <strong class="text-dark">{{'BUYING ON SOUQ.COM' | translate }}</strong>
                <ul class="p-0 nav flex-column">
                    <li>
                        <a [routerLink]="['/home']" href="#" class="text-secondary nav-link p-0">{{'How to Buy' | translate }}</a>
                    </li>
                    <li>
                        <a [routerLink]="['/home']" href="" class="text-secondary nav-link p-0">{{'Return Policy' | translate }}</a>
                    </li>
                    <li>
                        <a [routerLink]="['/home']" href="" class="text-secondary nav-link p-0">{{'Advertise with us' | translate }}</a>
                    </li>
                    <li>
                        <a [routerLink]="['/home']" href="" class="text-secondary nav-link p-0">{{'Help' | translate }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <app-support-and-social-links></app-support-and-social-links>
            </div>
        </div>
    </div>
    <div class="container-fluid d-block d-lg-none py-2">
        <app-support-and-social-links></app-support-and-social-links>
        <app-footer-my-account></app-footer-my-account>
    </div>
    <div class="copyRights text-center py-3 bg-secondary text-white">
        <strong>{{'© 2021 Souq.com' | translate }}</strong>
    </div>
</section>