<strong class="text-dark">MY ACCOUNT</strong>
<ul class="p-0 nav flex-column">
    <li>
        <a [routerLink]="['/register']" class="text-secondary nav-link p-0">Register</a>
    </li>
    <li>
        <a [routerLink]="['/cart']" class="text-secondary nav-link p-0">My Shopping Cart</a>
    </li>
    <li>
        <a [routerLink]="['dashboard', 'orders']" class="text-secondary nav-link p-0">My Orders</a>
    </li>
    <li>
        <a [routerLink]="['dashboard', 'addresses']" class="text-secondary nav-link p-0">My Addresses</a>
    </li>
    <li>
        <a [routerLink]="['dashboard', 'wishlist']" class="text-secondary nav-link p-0">Wish Lists</a>
    </li>
    <li>
        <a [routerLink]="['dashboard', 'settings']" class="text-secondary nav-link p-0">Account
            Settings</a>
    </li>
    <li>
        <a [routerLink]="['dashboard', 'summary']" class="text-secondary nav-link p-0">Account
            Summary</a>
    </li>
</ul>
<strong class="text-dark">INTELLECTUAL PROPERTY </strong>
<ul class="p-0 nav flex-column">
    <li>
        <a [routerLink]="['/home']" class="text-secondary nav-link p-0">Brand and Copyright
            Owners</a>
    </li>
    <li>
        <a [routerLink]="['/home']" class="text-secondary nav-link p-0">Marketplace Sellers</a>
    </li>
</ul>