<strong class="text-dark">{{'MY ACCOUNT' | translate }}</strong>
<ul class="p-0 nav flex-column">
    <li>
        <a [routerLink]="['/user/register']" href="#" class="text-secondary nav-link p-0">{{'Register' | translate }}</a>
    </li>
    <li>
        <a [routerLink]="['/cart']" href="" class="text-secondary nav-link p-0">{{'My Shopping Cart' | translate }}</a>
    </li>
    <li>
        <a [routerLink]="['/orders']" href="" class="text-secondary nav-link p-0">{{'My Orders' | translate }}</a>
    </li>
    <li>
        <a [routerLink]="['/addresses']" href="" class="text-secondary nav-link p-0">{{'My Addresses' | translate }}</a>
    </li>
    <li>
        <a [routerLink]="['/wishlist']" href="" class="text-secondary nav-link p-0">{{'Wish Lists' | translate }}</a>
    </li>
    <li>
        <a [routerLink]="['/user/account-settings']" href="" class="text-secondary nav-link p-0">{{'Account Settings' | translate }}</a>
    </li>
    <li>
        <a [routerLink]="['/user/account-summary']" href="" class="text-secondary nav-link p-0">{{'Account' | translate }}
            {{'Summary' | translate }}</a>
    </li>
</ul>
<strong class="text-dark">{{'INTELLECTUAL PROPERTY' | translate }} </strong>
<ul class="p-0 nav flex-column">
    <li>
        <a [routerLink]="['/home']" href="#" class="text-secondary nav-link p-0">{{'Brand and Copyright
            Owners' | translate }}</a>
        </li>
</ul>