<strong class="text-dark">{{'MY ACCOUNT' | translate }}</strong>
<ul class="p-0 nav flex-column">
    <li>
        <a [routerLink]="['/register']" class="text-secondary nav-link p-0">{{'Register' |translate}}</a>
    </li>
    <li>
        <a [routerLink]="['/cart']" class="text-secondary nav-link p-0">{{'My Shopping Cart' |translate}}</a>
    </li>
    <li>
        <a [routerLink]="['dashboard', 'orders']" class="text-secondary nav-link p-0">{{'My Orders' |translate}}</a>
    </li>
    <li>
        <a [routerLink]="['dashboard', 'addresses']" class="text-secondary nav-link p-0">{{'My Addresses' |translate }}</a>
    </li>
    <li>
        <a [routerLink]="['dashboard', 'wishlist']" class="text-secondary nav-link p-0">{{'Wish Lists' |translate}}</a>
    </li>
    <li>
        <a [routerLink]="['dashboard', 'settings']" class="text-secondary nav-link p-0">{{'Account
            Settings' |translate}}</a>
    </li>
    <li>

        <a [routerLink]="['dashboard']" class="text-secondary nav-link p-0">{{'Account
            Summary' |translate}}</a>
        

    </li>
</ul>
<strong class="text-dark">{{'INTELLECTUAL PROPERTY' | translate }} </strong>
<ul class="p-0 nav flex-column">
    <li>
        <a [routerLink]="['/home']" class="text-secondary nav-link p-0">{{'Brand and Copyright
            Owners' |translate }}</a>
    </li>
    <li>
        <a [routerLink]="['/home']" class="text-secondary nav-link p-0">{{'Marketplace Sellers' |translate }}</a>
    </li>
</ul>