.page-content {
    width: 100%;
    overflow: hidden;
    margin-left: 17rem;
    transition: all 0.4s;
    position: static !important;
    display: block;
}

#content.active {
    margin: 0;
}

.side-bar-active {
    width: calc(100% - 17rem);
    background-color: rgb(0 0 0 / 23%);
    height: 100%;
    cursor: pointer;
    position: absolute;
    z-index: 2;
}

#sidebarCollapse {
    cursor: pointer;
}

.main-header {
    display: block;
    position: sticky !important;
    top: 10px;
    background: white;
}

.categories {
    height: 38px;
    overflow: hidden;
}

.category {
    transition: all 0.4s;
}

.category a {
    text-decoration: none;
}

.category:hover {
    background: white;
    cursor: pointer;
}

.category:hover a {
    color: rgb(37, 33, 33);
}

.cart {
    margin-top: -0.2rem;
    position: relative;
}

.cart-items-amount {
    font-size: 20px;
    position: absolute;
    top: -43%;
    right: 37%;
}

.cart i {
    transition: all 0.5s;
}

.cart p {
    transition: all 0.5s;
}

.cart:hover {
    cursor: pointer;
}

@keyframes iconAnimationHeart {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.cart:hover .heart {
    animation-name: iconAnimationHeart;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* color: #007BFF !important; */
    /* transform: scale(1.2); */
}

.cart:hover p {
    outline: none;
    color: red !important;
}