<div class="d-flex">

    <app-sidebar [Toggled]="isToggled"></app-sidebar>

    <!-- Page content holder -->
    <div class="page-content" [class.active]="isToggled" id="content">
        <div [ngClass]="{'side-bar-active': !isToggled}" (click)="toggleClass()"> </div>
        <!-- Toggle button -->
        <app-top-header></app-top-header>
        <header class="container-fluid main-header" (scroll)="scrollHandler($event)">

            <div class="w-75 mx-auto pb-2 pt-4">
                <div class="row ">
                    <div class="col-6 col-md-4 col-lg-3" id="sidebarCollapse" (click)="toggleClass()">
                        <i class="fas fa-bars fa-lg pr-2 text-primary"></i>
                        <img src="../../../assets/logo.png" alt="">
                    </div>
                    <div class="col-md-5 col-lg-6 d-none d-md-block ">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inlineFormInputGroup" #searchInput placeholder="What are you looking for?">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-primary" (click)="search(searchInput.value)">
                                    <i class="fas fa-search" on></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-md-3 col-lg-2 d-flex align-items-start ">

                        <a [routerLink]="['/cart']" style="text-decoration: none;">
                            <div class="d-flex flex-column justify-content-between align-items-center pr-4 cart">
                                <!-- Shape 1 -->
                                <span class="text-danger cart-items-amount">0</span>
                                <i class="fab fa-opencart text-primary fa-lg"></i>
                                <!-- Shape 2 -->
                                <!-- <span class="text-danger font-weight-bold cart-items-amount pl-2">0</span>
                                <i class="fas fa-shopping-cart text-primary fa-2x pt-1"></i> -->
                                <p class="text-center font-weight-bold py-0">Cart</p>
                            </div>
                        </a>
                        <a [routerLink]="['/dashboard/wishlist']" style="text-decoration: none;">
                            <div class="d-flex flex-column justify-content-between align-items-center pr-4 cart">

                                <span class="text-danger cart-items-amount">0</span>
                                <i class="fas fa-heart fa-lg text-danger heart"></i>
                                <p class="text-center font-weight-bold py-0">Favorite</p>
                            </div>
                        </a>
                        <button class="btn btn-primary " [routerLink]="['/login']" *ngIf="!userStatus">Login</button>
                        <button class="btn btn-danger " *ngIf="userStatus" (click)="signOut()">Logout</button>
                    </div>

                </div>
            </div>
        </header>
        <div class="categories container-fluid bg-light">
            <div class="w-75 mx-auto ">
        <!-- <div class="categories container-fluid bg-light">
            <div class="container ">
                <ul class="p-0 m-0 nav ">
                    <li class="nav-item category py-2">
                        <a class="font-weight-bold px-2" [routerLink]="['/category']" href="#">{{'All Categories' |translate }}</a>
                    </li>
                    <li class="nav-item category py-2" *ngFor="let cat of categories" (mouseenter)="show(cat.categoryName)" (mouseleave)="hide()">
                        <a class="font-weight-bold px-2" [routerLink]="['/category',cat.categoryName]" href="#">{{cat.categoryName}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">

            <!-- <app-settings></app-settings> -->
        </div>
        <router-outlet></router-outlet>


        <app-footer></app-footer>


</div>
<!-- </div> -->