<div class="vertical-nav bg-dark" id="sidebar" [class.active]="Toggled">
    <ul class="bg-dark mb-0 flex-column nav navbar-nav text-white-50">
        <li class="nav-item px-2">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item px-2">
            <a class="nav-link" [routerLink]="['dashboard', 'orders']" routerLinkActive="active">Track Orders</a>
        </li>
        <li class="nav-item px-2">
            <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">Account Summary</a>
        </li>
        <li class="nav-item px-2">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Customer Service</a>
        </li>
        <li class="nav-item px-2">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">News feed</a>
        </li>
    </ul>
    <div><strong class="ul-title">Categories</strong></div>
    <ul class="p-0 nav flex-column">
        <li *ngFor="let cat of categories" class=" pl-2">
            <a href="#" [routerLink]="['/category',cat.categoryName]" class="nav-link">{{cat.categoryName}}</a>
        </li>
    </ul>
    <ul class="bg-dark mb-0 flex-column nav navbar-nav text-white-50">
        <li class="nav-item px-2">
            <a class="nav-link" [routerLink]="['/search-result/products/all']" routerLinkActive="active"><strong>Shop All
                    Categories</strong></a>
        </li>
    </ul>
</div>