<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-2 px-2">
            <small>5 stars</small> 
        </div>
        <div class="col-8">
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': getRate(rate.fiveStar)}"
                    aria-valuemin="0" attr.aria-valuemax={{rate.total}}></div>
            </div>
        </div>
        <div class="col-1">
            <div>({{rate.fiveStar}})</div>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-2 px-2">
            <small>4 stars</small> 
        </div>
        <div class="col-8">
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': getRate(rate.fourStar)}"
                    aria-valuemin="0" attr.aria-valuemax={{rate.total}}></div>
            </div>
        </div>
        <div class="col-1">
            <div>({{rate.fourStar}})</div>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-2 px-2">
            <small>3 stars</small> 
        </div>
        <div class="col-8">
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': getRate(rate.threeStar)}"
                    aria-valuemin="0" attr.aria-valuemax={{rate.total}}></div>
            </div>
        </div>
        <div class="col-1">
            <div>({{rate.threeStar}})</div>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-2 px-2">
            <small>2 stars</small> 
        </div>
        <div class="col-8">
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': getRate(rate.twoStar)}"
                    aria-valuemin="0" attr.aria-valuemax={{rate.total}}></div>
            </div>
        </div>
        <div class="col-1">
            <div>({{rate.twoStar}})</div>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-2 px-2">
            <small>1 star</small> 
        </div>
        <div class="col-8">
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': getRate(rate.oneStar)}"
                    aria-valuemin="0" attr.aria-valuemax={{rate.total}}></div>
            </div>
        </div>
        <div class="col-1">
            <div>({{rate.oneStar}})</div>
        </div>
    </div>
    
</div>