<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
  id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form class="form-horizontal" action='' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Register</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label" for="username">Username</label>
      <div class="controls">
        <input type="text" [(ngModel)]="userInfo.username" id="username" name="username" placeholder="" class="input-xlarge">
        <p class="help-block">Username can contain any letters or numbers, without spaces</p>
      </div>
    </div>

    <!-- Username -->
    <label class="control-label" for="mobile">Mobile</label>
    <div class="controls">
      <input type="text" [(ngModel)]="userInfo.phone" id="mobile" name="mobile" placeholder="" class="input-xlarge">
      <p class="help-block">Mobile can contain 11 numbers, without spaces</p>
    </div>

    <div class="control-group">
      <!-- adress -->
      <label class="control-label" for="adress">adress</label>
      <div class="controls">
        <input type="text" [(ngModel)]="userInfo.address" id="address" name="address" placeholder="" class="input-xlarge">
        <p class="help-block">Adress can contain any letters or numbers, with spaces</p>
      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="text" [(ngModel)]="userInfo.email" name="email" id="email" placeholder="" class="input-xlarge">
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" [(ngModel)]="userInfo.password" id="password" name="password" placeholder="" class="input-xlarge">
        <p class="help-block">Password should be at least 4 characters</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password -->
      <label class="control-label" for="password_confirm">Password (Confirm)</label>
      <div class="controls">
        <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
        <p class="help-block">Please confirm password</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success" (click)="register()">Register</button>
      </div>
    </div>
  </fieldset>
</form>