<!-- {{orders | async | json}}
{{ wishlist | async | json}} -->




<style>
  
  .userInfo {
    border-bottom: 10px rgb(230, 222, 222);
    line-height: 0.9;
  }
  p{
    line-height: 1.5;
  }
</style>
<div *ngFor="let item of (orders | async)">
<div class="row container-fluid shadow" style="padding: 2% ;font-weight: 500;">
  <div class="col-12 row userInfo">
    <div class="col-md-6 col-sm-12 col-sm-12 pb-3" >
      <p>Order placed on : <strong>{{item.createdAt.toDate() |date}}</strong></p>
      <!-- <p>Order ID : {{item.id | }}</p> -->
     <p> Delivary date : {{item.deliveryDate.toDate() |date}}</p>

      <u style="color: royalblue;"><a href="">Order details</a> </u>
    </div>
    <div class="col-md-6 col-sm-12 col-sm-12 pb-3">
      <p>Recipient: user name</p>
      <p>Payment mthod : {{item.paymentMethod}}</p>
      <p>Total : {{item.total |currency :"EGP"}}</p>
      <p> Products: {{item.itemCount }}</p>
    </div>
  </div>
  <div class="stepper col-12" >
    <div class="container-fluid padding-bottom-3x mb-1">
      <div class="card-body p-0">
        <div
          class="
            steps
            d-flex
            flex-sm-nowrap
            justify-content-between
            padding-top-2x padding-bottom-1x
          "
        >
          <div [ngClass]=" item.status=='RFS'?'step completed':'step'">
            <div class="step-icon-wrap" style="line-height: .8;">
              <div class="step-icon">1</div>
            </div>
            <h4 class="step-title" >Ready for shipping </h4>
          </div>
           <div [ngClass]=" item.status=='OFD'?'step completed':'step'">
            <div class="step-icon-wrap">
              <div class="step-icon">2</div>
            </div>
            <h4 class="step-title">Out of delivary</h4>
          </div>
          <div  [ngClass]=" item.status=='delivered'?'step completed':'step'">
            <div class="step-icon-wrap">
              <div class="step-icon">3</div>
            </div>
            <h4 class="step-title">Delivered</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-12 product-orders row">
    <div class="col-md-6 col-sm-12 row">
      <div class="col-2">
        <img
          src="https://cf3.s3.souqcdn.com/item/2017/05/24/22/87/05/66/item_XS_22870566_31942865.jpg"
        />
      </div>
      <div class="col-10" >
        <h6>this is product name</h6>
        <small>
          condithion :new 
        </small>
        <app-user-rate></app-user-rate>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 pr-3 row d-flex pl-5">
      <p>
        Return window closed on <strong>02 december 2020</strong>,item cannot be
        returned
      </p>
      <input
        class="btn btn-secondary w-100 align-self-end"
        type="button"
        value="TRACK SHIPMENT"
      />
    </div>
  </div>
</div>
</div> -->
