<!-- {{orders | async | json}}
{{ wishlist | async | json}}  -->




<style>
  
  .userInfo {
    border-bottom: 10px rgb(230, 222, 222);
    line-height: 0.9;
  }
  p{
    line-height: 1.5;
  }
</style>
<div *ngFor="let item of (orders | async)">
  
<div class="row container-fluid shadow" style="padding: 2% ;font-weight: 500;">
  <div class="col-12 row userInfo">
    <div class="col-md-6 col-sm-12 col-sm-12 pb-3" >
      <p>Order placed on : <strong>{{item.createdAt.toDate() |date}}</strong></p>
      <!-- <p>Order ID : {{item.id | }}</p> -->
     <p> Delivary date : {{item.deliveryDate.toDate() |date}}</p>
     <p> Order ID : #{{item.orderId | slice:0:6}}</p>

      <u style="color: royalblue;"><a  [routerLink]="['../orderdetails']" >Order details</a> </u>
    </div>
    <div class="col-md-6 col-sm-12 col-sm-12 pb-3">
      <p>Recipient: user name</p>
      <p>Payment method : {{item.paymentMethod}}</p>
      <p>Total : {{item.total |currency :"EGP"}}</p>
      <p> Products: {{item.itemCount }}</p>
    </div>
  </div>
  <div class="stepper col-12" >
    <div class="container-fluid padding-bottom-3x mb-1">
      <div class="card-body p-0">
        <div
          class="
            steps
            d-flex
            flex-sm-nowrap
            justify-content-between
            padding-top-2x padding-bottom-1x
          "
        >
          <div [ngClass]=" item.status=='ready for shiping'?'step completed':'step'">
            <div class="step-icon-wrap" style="line-height: .8;">
              <div class="step-icon">1</div>
            </div>
            <h4 class="step-title" >Ready for shipping </h4>
          </div>
           <div [ngClass]=" item.status=='Out of delivary'?'step completed':'step'">
            <div class="step-icon-wrap">
              <div class="step-icon">2</div>
            </div>
            <h4 class="step-title">Out of delivary</h4>
          </div>
          <div  [ngClass]=" item.status=='delivered'?'step completed':'step'" *ngIf="item.status==returned" >
            <div class="step-icon-wrap">
              <div class="step-icon">3</div>
            </div>
            <h4 class="step-title">Delivered</h4>
          </div>
          <div  [ngClass]=" item.status=='returned'?'step returned':'step'" [hidden]="!item.status==returned" >
            <div class="step-icon-wrap" style="color: royalblue;">
              <div class="step-icon" >3</div>
            </div>
            <h4 class="step-title" style="font-weight: bold;">Rteurned</h4>
          </div>
        </div>
      </div>
    </div>

  </div>
  
  
