<style>
    .product-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: antiquewhite; */
        /* width: 365px; */
        max-width: 365px;
        /* height: 640px; */
    }

    .product-image {
        /* padding: 10px; */
        /* width: clamp(100px, 100%, 300px); */
        /* height: clamp(100px, 100%, 360px); */
        /* width: 100%; */
        /* max-width: 100%; */
        max-height: 390px;
        /* width: 100%; */
        /* height: 390px; */
        /* height: auto; */
        /* display: inline-block; */
        /* vertical-align: middle; */
    }

    .product-details {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1.5fr;
        width: 100%;
        /* padding: 5px 14px; */
        /* background-color: rgb(235, 235, 235); */
    }


    .product-show {
        /* height: 385px; */
        width: 100%;
        justify-content: center;
        align-items: center;
        /* background-color: lightblue; */
        position: relative;
        transition: 2s;

    }

    .add-to-cart-btn {
        font-weight: 700;
        width: 100%;
        grid-row: -2 / -1;
    }

    .discount-box {
        /* height: 30px;
        width: 60px; */
        font-size: 14px;
        line-height: 30px;
        font-weight: 800;
        color: #ffffff;
        background-color: #ff574b;
        position: absolute;
        bottom: 10px;
        z-index: 3;
    }

    .price-and-rating-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .quick-view {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(201, 199, 199, 0.4);
        top: 0;
        align-items: center;
        justify-content: center;
        display: none;
        cursor: pointer;
    }

    .product-show:hover .quick-view {
        display: flex;
    }

    .shipping-and-fullfillment-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


</style>

<div class="m-3">
    <section class="product-card shadow">
        <section class="product-show text-center py-2">
            <div class="productImage">
                <img [src]="product.mainImage" width="100%" class="product-image" alt="product image" />
                <!-- <img [src]="product.img" width="100%" class="product-image" alt="product image" /> -->

                <div class="discount-box px-2">
                    <span>{{ product.discount }}% OFF</span>
                </div>
            </div>
            <div class="quick-view">
                <h2>Quick View</h2>
            </div>

        </section>
        <section class="product-details  px-4 py-2">
            <h2 class="text-secondary" type="button" (click)="productDetails(product.sku)">{{ product.title }}</h2>

            <div class="price-and-rating-row">
                <div>
                    <div>
                        {{ product.price* ((100 - product.discount) / 100)  }}
                    </div>

                    <div *ngIf="product.discount">
                        <small>
                            <strike>{{ product.price}}</strike>
                        </small>
                    </div>
                </div>

                <div>
                    <app-rate-component
                        [currentRate]="product.averageRating"
                        size="1.5">
                    </app-rate-component>
                </div>
            </div>

            <div class="shipping-and-fullfillment-row">
                <div *ngIf="product.shipping">{{ product.shipping }}</div>
                <div *ngIf="product.fullfilledBySouq">Fullfilled by Souq</div>
            </div>

            <button class="add-to-cart-btn btn btn-primary">ADD TO CART</button>
        </section>
    </section>
</div>