<div class="p-4">
  <img src="/src/assets/Header-ar.jpg" />
  <h6>What is Free shipping program?</h6>
  <p>
    Orders* of 350 EGP or more of fulfilled by Souq items across any product
    category qualify for FREE Shipping.
  </p>
  <p>
    You receive free shipping if your order includes at least of 350 EGP of
    fulfilled by souq items. Any item with "Fulfilled by Souq" badge on the
    product detail page is eligible and contributes to your free shipping order
    minimum.
  </p>
  <p>
    * The following item types are not included in free shipping: Photo Copier,
    Office Furniture, Table, Air Conditioner and Cooler, Bed Room furniture Set,
    Nursery Furniture and Décor, Tires and wheels , Garden Furniture, Outdoor
    Play, Washing Machine, Dishwasher, Mattress, Refrigerator and Freezer, Oven,
    Ranges and Stoves, Washer Dryer Combo, Range Hood, Dining Room Furniture
    Set, Living Room Furniture, Treadmills, Sporting Equipments, Beds and
    Frames; and are subject to shipping fee from 21 EGP to 237 EGP per shipment
    depending on the weight and ship speed.
  </p>
  <h6>How can I benefit from Free Shipping program?</h6>
  <p>
    Simply, add your wished fulfilled by Souq items to your cart before you
    checkout - make sure that the total amount for the added fulfilled by Souq
    items is above or equal 350 EGP.
  </p>
  <h6>
    What happens when I have an item in my cart but it is less than the
    eligibility threshold?
  </h6>
  <p>
    You can get the remaining amount to reach the Free shipping threshold by
    adding any fulfilled by Souq item to your cart. Once the total amount of
    fulfilled by Souq items is exceeded, you will get the Free shipping benefit.
  </p>
  <p>
    If you wish to proceed with your order without adding the remaining amount
    to reach the free shipping thresholds, you will not be eligible for free
    shipping. You can get Free shipping on fulfilled by Souq items if the total
    fulfilled by Souq items in your cart equals or exceed 350 EGP.
  </p>
  <h6>How can I find fulfilled by Souq offers?</h6>
  <p>
    are two quick and easy ways to find eligible items: After you've searched
    for your item, select "Fulfilled by Souq" to the left of the page and filter
    for items eligible for free shipping
  </p>
  <p>
    Look for the Fulfilled by Souq badge in search results and detail pages
  </p>
  <h6>What are the shipping speed that I’ll get when I have free shipping?</h6>
  <p>
    Standard domestic shipping service takes from 2-4 days.</p>
  <h6>Should I pay a subscription fee to always have free shipping?
  </h6>
  <p>
    No, you will enjoy unlimited free shipping when you have the total amount
    for the added fulfilled by Souq items to your cart is above or equal 350
    EGP.
  </p>
  <p>
    Can I benefit from FREE Shipping internationally? Unfortunately, FREE
    Shipping is only available for Egypt residents. We’re working hard to make
    it available internationally soon.
  </p>
  <img src="/src/assets/Header-ar.jpg" />
  <h6>ما هو برنامج الشحن المجاني؟</h6>
  <p>
    سوف تحظى بشحن مجاني عند قيامك بطلب سلع* تشحن من قبل سوق لا تقل قيمتها عن 350
    جنيه في دولة جمهورية مصر العربية.
  </p>
  <p>
    سوف تكون السلع التي تشتمل على علامة "تشحن من قبل سوق" في صفحة تفاصيل المنتج،
    خاضعة لبرنامج الشحن المجاني.
  </p>
  *المنتجات التالية لا ينطبق عليها الشحن المجاني: ماكينات التصوير، الاثاث
  المكتبي، طاولات، تكييفات، مبردات
  <p>
    المياه، أثاث غرف النوم، أثاث وديكور الحضانة، اطارات وعجلات، اثاث الحدائق،
    الألعاب الخارجية، غسالات ملابس أو أطباق، مراتب، ثلاجات، فريزر، فرن، بوتاجاز،
    غسالات أطباق كبيرة، مداخن، اثاث غرف الطعام، اثاث غرف المعيشة، معدات رياضية.
    وكل منها يخضع لرسوم الشحن من 21 جنيها الى 237 جنيها لكل شحنة علي حسب الوزن
    والسرعة المنتجات التالية لا ينطبق عليها الشحن المجاني: ماكينات التصوير،
    الاثاث المكتبي، طاولات، تكييفات، مبردات
  </p>
  <h6>كيف يمكنني الاستفادة من برنامج الشحن المجاني؟</h6>
  <p>
    ببساطة، قم بإضافة السلع المشحونة من قبل سوق التي تريدها إلى عربة التسوق
    الخاصة بك قبل عملية الدفع - من ان المبلغ الإجمالي للسلع المشحونة من قبل سوق
    يساوي أو يزيد عن 350 جنيه في دولة جمهورية مصر العربية.تأكد
  </p>
  <h6>
    ماذا يحدث اذا كان لدي سلعة في عربة التسوق الخاصة بي ولكنها أقل من الحد
    الأدنى للأهلية؟
  </h6>
  <p>
    سيكون بوسعك الحصول على المبلغ المتبقي للوصول الى الحد الادنى للشحن المجاني
    من خلال اضافة اية سلعة تشحن من قبل سوق الى عربة التسوق الخاصة بك. وبمجرد
    تجاوز المبلغ الإجمالي للسلع المشحونة من قبل سوق، سيكون بوسعك الاستفادة من
    برنامج الشحن المجاني.
  </p>
  <p>
    اذا كنت ترغب في متابعة طلبك دون اضافة المبلغ المتبقي للوصول الى الحد الادنى
    للشحن المجاني، فلن تكون مؤهلا للحصول على شحن مجاني.
  </p>
  <h6>كيف يمكنني العثور على عروض السلع التي يتم شحنها من قبل سوق؟</h6>
  <p>
    في ما يلي طريقتان سريعتان وسهلتان للعثور على السلع المؤهلة للشحن المجاني:
    بعد قيامك بعملية البحث عن السلع التي تريدها، قم باختيار "تشحن من قبل سوق"
    على يسار الصفحة ابحث عن علامة تشحن من قبل سوق في نتائج البحث وصفحات
    التفاصيل.
  </p>
  <h6>ما هي سرعة الشحن التي سأحصل عليها عندما يكون لدي شحن مجاني؟</h6>
  <p>
    المدة القياسية لخدمة الشحن المحلية تستغرق من 2 الى 4 ايام.
  </p>
  <h6>هل يتوجب علي دفع رسوم اشتراك للشحن المجاني؟</h6>
  <p>
    لا، سيكون بوسعك التمتع بخدمة شحن مجاني غير محدودة عندما يكون المبلغ الإجمالي
    للسلع المضافة في عربة التسوق الخاصة بك والمشحونة من قبل سوق، يساوي او يزيد
    عن 350 جنيه في دولة جمهورية مصر العربية.
  </p>
  <h6>
    هل يمكنني الاستفادة من برنامج الشحن المجاني دوليا؟
  </h6>
  <p>
    للأسف، يمكن فقط للمقيمين في دولة جمهورية مصر العربية الانتفاع من برنامج
    الشحن المجاني. ونحن نعمل جاهدي لإتاحة هذه الخدمة دوليا في أقرب وقت ممكن.
  </p>
</div>
