<div class="container py-3">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-5">
            <div class="errors py-3 px-3 mb-3" *ngIf="validation.length>0">
                <div class="d-flex align-items-center">
                    <i class="fas fa-exclamation-circle fa-2x text-danger"></i>
                    <h5 class="a-alert-heading d-inline-block text-danger font-weight-normal pl-3">There was a problem
                    </h5>
                </div>
                <ul class="ml-4 mb-0">
                    <li *ngFor="let err of validation">
                        <small>{{err}}</small>
                    </li>
                </ul>
            </div>
            <div id="legend">
                <legend class="text-center">Reset Password </legend>
            </div>
            <div class=" border pt-3 p-3">
                <form class="form-horizontal" action='' method="POST">
                    <fieldset>
                        <!-- E-mail -->
                        <div class="control-group mb-3">
                            <label class="control-label " for="username"><small class="font-weight-bold text-dark">Enter
                                    your registered Email</small>
                            </label>
                            <div class="controls">
                                <input type="email" (keydown)="changeStatus()" [(ngModel)]="email" name="email" id="email" placeholder="" class="input-xlarge w-100 rounded">
                            </div>
                        </div>
                        <div class="agreement py-2 text-center">
                            <small>
                                If the entered email address is registered in our records, you will receive a message
                                shortly.
                            </small>
                        </div>
                        <div class="control-group py-2">
                            <!-- Button -->
                            <div class="controls ">
                                <div class="d-flex justify-content-center" *ngIf="isLoading">
                                    <div class="spinner-grow text-secondary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <button class="btn login-btn w-100 mt-2" (click)="validate()" *ngIf="!sent">Reset</button>
                                <button class="btn btn-success w-100 mt-2" disabled *ngIf="sent">Message Sent
                                    Successfully</button>

                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
            <div class="separator">New Customer? </div>
            <p> <small>
                    <a [routerLink]="['../register']" class="btn new-account-btn text-dark w-100">
                        Create New Account
                    </a>
                </small>
            </p>
        </div>
        <div class="col-3"></div>
    </div>
</div>