<style>
    #product-grid {
        border: 3px solid tomato;
        display: grid;
        grid-template-columns: repeat(minmax(1,4), 1fr);
    }
</style>

<h1>product-grid works!</h1>

<section id="product-grid">
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
</section>
