
<div class="col-md-4 bigDiv">

    <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1" title="Category">
            <ng-template ngbPanelContent>
                <!-- category option  -->
                <div class="form-check" *ngFor="let item of Cateogryoptions">
                    <input class="form-check-input" type="checkbox" value="" id="categoryOption">
                    <label class="form-check-label" for="categoryOption">
                        {{item.label}}
                    </label>
                </div>

            </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2">
            <ng-template ngbPanelTitle>
                <span> Price </span>
            </ng-template>
            <ng-template ngbPanelContent>

                <!-- slider -->
                <div class="custom-slider">
                    <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
                    
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">From</span>
                                   
                                </div>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" value="{{minValue}}">
                            </div>
                        </div>

                        <div class=col-6>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">To</span>
                                   
                                </div>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" value="{{maxValue}}">
                            </div>
                        </div>

                    </div>

                    <button type="button" class="btn btn-primary">Apply</button>
                    


                </div>

            </ng-template>
        </ngb-panel>

        <ngb-panel id="static-3" title="Average Rating">
            <ng-template ngbPanelContent>
                <!-- rating with star -->
                <app-rate-component [currentRate]=4 [size]="2"></app-rate-component>
                <br />
                <app-rate-component [currentRate]=3 [size]="2"></app-rate-component>
                <br />
                <app-rate-component [currentRate]=2 [size]="2"></app-rate-component>
            </ng-template>
        </ngb-panel>

        <ngb-panel id="static-4" title="Condition">
            <ng-template ngbPanelContent>
                <!-- Condition  Option-->
                
                <div class="form-check" *ngFor="let item of Condition">
                    <input class="form-check-input" type="checkbox" value="" id="ConditionOption">
                    <label class="form-check-label" for="ConditionOption">
                        {{item.label}}
                    </label>
                </div>
            </ng-template>
        </ngb-panel>


        <ngb-panel id="static-5" title="Brand">
            <ng-template ngbPanelContent>
                <!-- Brand  Option-->
                
                <div class="form-check" *ngFor="let item of Brand">
                    <input class="form-check-input" type="checkbox" value="" id="BrandOption">
                    <label class="form-check-label" for="BrandOption">
                        {{item.label}}
                    </label>
                </div>
            </ng-template>
        </ngb-panel>

    </ngb-accordion>
</div>