<!-- <router-outlet></router-outlet> -->
<app-header></app-header>
<!-- <app-footer></app-footer> -->
<!-- <app-oneProductComp></app-oneProductComp> -->


<!-- <app-product-rate></app-product-rate> -->
<!-- <app-reviewsList></app-reviewsList> -->
<!-- <app-filteration> </app-filteration> -->
<!-- <div>
    brands
    <pre>
        {{ brands | json }}
    </pre>
</div>

<div>
    categories
    <pre>
        {{ categories | json }}
    </pre>
</div>

<div>
    product reviews 
    <pre>
        {{ reviews | json }}
    </pre>
</div>

<div>
    product description 
    <pre>
        {{ descr | json }}
    </pre>
</div>

<div>
    product ratings 
    <pre>
        {{ rating | json }}
    </pre>
</div>

<div>
    product cards
    <pre>
        {{ productCards | json }}
    </pre>
</div>


<div>
    products
    <pre>
        {{ products | json }}
    </pre>
</div>

<div>
    product specs
    <pre>
        {{ specs | json }}
    </pre>
</div>
<app-filteration> </app-filteration> -->