  <!-- <div class="mainDiv" >
    <div>
      <p>Discription</p>
      <div>{{data}}</div>
    </div>

    <br><br>
    
    <div>
      <p>Key features</p>
      <div class="middleDiv" >
        <ul *ngFor="let item of feature">
          <li>
            {{ item}}

          </li>
        </ul>
      </div>
      
    </div>
  </div> -->
  <div class="container p-0">
    <h2 class="text-uppercase align-left text-secondary">product information</h2>
    <div class="bg-white shadow p-2 ">
      <p class="text-uppercase text-secondary font-weight-bold">description:</p>
      <p class="text-dark">{{data}}</p>
      <p class="text-uppercase text-secondary font-weight-bold">features:</p>
      <ul *ngFor="let fet of feature">
        <li class="text-dark">{{fet}}</li>
      </ul>
    </div>
  </div>