<style>
    #cart {
        background-color: #8dc13e;
        border-color: #8dc13e;
    }

    #remove {
        background-color: #C14450;
        border-color: #C14450;
    }
</style>

<div
  class="card shadow-sm justify-content-center"
  style="max-width: 100%; height: 200px"
  [hidden]="removed"
  >
  <div class="row p-2 align-items-center w-100">
    <div class="col-md-4 text-center">
      <img
        [src]="productData.mainImage"
        class=""
        height="150px"
        alt="{{productData.description}}"
        title="{{ productData.description }}" 
        >
    </div>
    <div class="col-md-8">
      <div class="card-body row">
          <div class="col-6">
            <h3 class="card-title">{{ productData.name }}</h3>
            <div *ngIf="!productData.quantity">Not Available</div>
            <div class="card-text font-weight-bold fs-3" *ngIf="productData.quantity">
                {{ productData.price * (100 - productData.discount) / 100 | currency:'EGP' }}
            </div>
            <del class="text-muted fs-4" *ngIf="productData.quantity">
                {{ productData.price | currency:'EGP' }}
            </del>
          </div>
          <div class="col-6">
            <a
              class="btn btn-success mb-2 w-100"
              id="cart"
              (click)="addToCart($event)" 
            >Add To Cart</a>

            <a
              class="btn btn-danger w-100"
              id="remove"
              (click)="removeFromWishList($event)"
            >Remove</a>
          </div>
      </div>
    </div>
  </div>
</div>