<div id="head " class="row bg-white m-0" style="box-shadow: 2px 2px #adabab">
  <div id="head-covidmsg" class="col-12 text-center p-5">
    <span
      class="p-3"
      style="background-color: #a2deda; font-size: 1.285 rem; font-weight: 700"
    >
      Pay online for contactless deliveries
    </span>
  </div>

  <div id="leftDiv" class="col-lg-5 col-md-12 col-sm-12 row pb-4 pr-2">
    <div id="productinfo" class="col-12">
      <h6>{{ product.description }}</h6>

      <div class="pb-2">
        <span>rating star here </span>
      </div>
      <!-- sid img display none in small screen -->
    </div>
  </div>

  <div id="middldiv" class="col-lg-4 col-md-6 col-sm-12 pb-3">
    <div class="pr-3 pl-3">
      <div id="headprice">
        <h2 class="storngancor">
          {{ product.price.currentPrice }}<sub>EGP</sub>
        </h2>
        <div [hidden]="product.price.previousPrices.timestamp == 0">
          <span>{{ product.price.previousPrices.timestamp }}</span>
          <span> you saved {{ calcSavedMony() }}</span>
        </div>
        <div>
          <span>All price include VAT</span>
          <a>details</a>
        </div>
        <div
          class="pb-2 graytext borderbtm pricedetails"
          [hidden]="product.freeshipping == false"
        >
          <strong> free shipping</strong>
          <span class="bluefontcolor"
            ><a (click)="open(content)" href="#"> details</a></span
          >
        </div>
        <!-- modal for detils of  -->

        <ng-template
          #content
          let-c="close"
          style="width: 1200px"
          let-d="dismiss"
        >
         

          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">x</span>
          </button>
          <app-freeShipppingmodal></app-freeShipppingmodal>
        </ng-template>
      </div>
      <div>
        <div id="brand" class="pt-3">
          <dl>
            <dt style="float: left">brand :</dt>
            <dd>getbrandname()</dd>
          </dl>
        </div>
        <div id="ptoduct-desc">
          <strong>description</strong>
          <ul id="descUl" *ngFor="let item of product.description">
            <li>{{ item }}</li>
          </ul>
        </div>
        <div id="otherOffer" class="pt-3">
          <strong class="graytext"> other seller</strong>
          <div>
            <a id="offernum" class="storngancor">(3)more offers</a>
            <span> starting from</span>
            <span id="price" class="bluefontcolor"> 59000 EGP</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    id="rightdiv"
    class="col-lg-3 col-md-6 col-sm-12 d-flex align-content-between flex-wrap"
  >
    <div class="borderleft pl-2">
      <div id="shiping-info " class="p-2 fullborder">
        <span>
          Ship to <b id="shiping-city"> Cairo </b> (<a class="bluefontcolor">
            Change city</a
          >)
          <br />
          <b>Delivered within Monday, Mar 22 - Wednesday, Mar 24</b> to
          <b>Cairo</b>
        </span>
      </div>
      <div class="pt-3">
        <input
          id="addtoCard"
          class="button w-100 btn-lg"
          type="button"
          value="ADD TO CARD"
        />
        <span id="amount_left">{{ product.leftOnStock }} left in stock! </span>
      </div>
      <div id="details">
        <dl>
          <dt style="float: left; width: 33%">condition:</dt>
          <dd>{{ product.condition }}</dd>
        </dl>
        <dl>
          <dt style="float: left; width: 33%">sold by:</dt>
          <dd>
            <span class="storngancor"
              ><a>{{ product.Soldby }}</a> </span
            ><br />(89% Positive Rating)
          </dd>
        </dl>
      </div>
    </div>
    <div id="icondiv" class="col-12" style="font-size: 18px">
      <ul id="socialicon">
        <li><i class="fas fa-heart p-2"></i></li>
        <li><i class="fab fa-twitter p-2"></i></li>
        <li><i class="fab fa-facebook-square p-2"></i></li>
        <li><i class="fab fa-google-plus-g p-2"></i></li>
      </ul>
    </div>
  </div>
</div>
