<div class="container-fluid bg-dark d-none d-sm-block py-2">
    <div class="text-white-50 container">
        <div class="row">
            <article class="col-6 d-none d-lg-block">
                <div class="pr-3 p-0 d-inline-block" placement="bottom"
                    ngbTooltip="All orders of 350.00 EGP or more on eligible items across any product category qualify for FREE Shipping. "
                    role="button" tooltipClass="ml-4">
                    <small>
                        <i class="fas fa-truck pr-1"></i>
                        Free Shipping
                    </small>
                </div>
                <div class="pr-3 p-0 d-inline-block" placement="bottom"
                    ngbTooltip="Changed your mind, you can return your product and get a full refund" role="button">
                    <small>
                        <i class="fas fa-sync pr-1"></i>
                        Free Returns
                    </small>
                </div>
                <div class="pr-3 p-0 d-inline-block" placement="bottom"
                    ngbTooltip="Pay for your order in cash at the moment the shipment is delivered to your doorstep."
                    role="button">
                    <small>
                        <i class="fas fa-dollar-sign pr-1"></i>
                        Cash on delivery
                    </small>
                </div>
            </article>
            <article class=" col-lg-6 col-sm-10 text-right ml-auto  right-section">
                <ul class="p-0 m-0 ">
                    <li>
                        <a [routerLink]="['/user/register']" routerLinkActive="active" href="#"><small  class="px-2">Create an account</small> </a>
                    </li>
                    <li>
                        <a href="#"> <small  class="px-2">Daily Deals</small></a>
                    </li>
                    <li>
                        <a href="#"> <small  class="px-2">Customer Service</small></a>
                    </li>
                    <li>
                        <a href="#"> <small  class="px-2"> Sell with Us </small> </a>
                    </li>
                    <li>
                        <a [routerLink]="['/orders']" href="#"> <small  class="px-2">Track Orders</small> </a>
                    </li>
                </ul>
            </article>
        </div>
    </div>
</div>