<app-header></app-header>
<!-- <app-oneProductComp></app-oneProductComp> -->
<!-- <pre>
    <h1>All Cateogries</h1>
    llllll
    {{ categories | async | json }}
</pre>
<br>
<br>
<hr>
<pre>
    <h1>One Categroy</h1>
    <h2>Extract brand if you like</h2>
    {{ brands | async | json }}
</pre>

<br>
<br>
<hr>
<pre>
    <h1>All Products</h1>
    {{ products | async | json }}
</pre>

<br>
<br>
<hr>
<pre>
    <h1>Product Cards by locale</h1>
    {{ productCards | async | json }}
</pre>

<br>
<br>
<hr>
<pre>
    <h1>Product Rating details</h1>
    {{ ratingDetails | async | json }}
</pre>

<br>
<br>
<hr>
<pre>
    <h1>One Product for katreen</h1>
    {{ product | async | json }}
</pre>

<br>
<br>
<hr>
<pre>
    <h1>One Product images</h1>
    {{ productImages | async | json }}
</pre>

<br>
<br>
<hr>
<pre>
    <h1>One Product + images</h1>
    {{ productWithImages | async | json }}
</pre> -->


<!-- <pre>
    {{ products | async | json }}
</pre>

<pre>
    {{ productVariantImages | async | json }}
</pre>

<pre>
    {{ productVariant | async | json }}
</pre>

<pre>
    {{ productVariantDetails | async | json }}
</pre>

<pre>
    {{ categories | async | json }}
</pre>

<pre>
    {{ productspecs | async | json }}
</pre>

<pre>
    {{ reviews | async | json }}
</pre> -->