.vertical-nav{
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 10%);
    transition: all 0.4s;
}
#sidebar.active {
    margin-left: -17rem;
}