<div class="vertical-nav bg-white" id="sidebar" [class.active]="Toggled">
    <div class="py-4 px-3 mb-4 bg-light">
      <div class="media d-flex align-items-center">
        <div class="media-body">
          <h4 class="m-0">Souq Sidenav</h4>
          <p class="font-weight-light text-muted mb-0">Souq Sidenav</p>
        </div>
      </div>
    </div>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">SideBar </p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="#" routerLink="#" class="nav-link text-dark font-italic bg-light">
          <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
          Test
        </a>
      </li>
  
    </ul>
  
  </div>