<div class="container-fluid">
  <p> <small>100% of users recommend this product to a friend.</small></p>
  <span *ngIf="firstRate" class="text-secondary" > Be the first to rate this product </span>
  <h4 i18n>Rate this product:</h4>
  <ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
      <span class="half " [style.width.%]="fill"> &#9734;</span> &#9734;
    </span>
  </ng-template>
  <ngb-rating [rate]="0" [starTemplate]="t" [readonly]="false" [max]="5"
    (rateChange)="rateChangeFun($event)"></ngb-rating>
</div>