<div class="container-fluid bg-dark d-none d-sm-block py-2">
    <div class="text-white-50">
        <div class="row">
            <article class="col-6 d-none d-lg-flex">
                <div class="pr-3 p-0" placement="bottom"
                    ngbTooltip="All orders of 350.00 EGP or more on eligible items across any product category qualify for FREE Shipping. "
                    role="button" tooltipClass="ml-4">
                    <small>
                        <i class="fas fa-truck pr-1"></i>
                        Free Shipping
                    </small>
                </div>
                <div class="pr-3 p-0" placement="bottom"
                    ngbTooltip="Changed your mind, you can return your product and get a full refund" role="button">
                    <small>
                        <i class="fas fa-sync pr-1"></i>
                        Free Returns
                    </small>
                </div>
                <div class="pr-3 p-0" placement="bottom"
                    ngbTooltip="Pay for your order in cash at the moment the shipment is delivered to your doorstep."
                    role="button">
                    <small>
                        <i class="fas fa-dollar-sign pr-1"></i>
                        Cash on delivery
                    </small>
                </div>
            </article>
            <article class=" col-lg-6 col-sm-12 ml-auto  right-section">
                <ul class="d-flex justify-content-around p-0 m-0 ">
                    <li>
                        <a href="#">Create an account</a>
                    </li>
                    <li>
                        <a  href="#" >Options</a>
                    </li>
                    <li>
                        <a  href="#" >Track Orders</a>
                    </li>
                    <li>
                        <a  href="#" >Join</a>
                    </li>
                </ul>
            </article>
        </div>
    </div>
</div>