<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-2 px-2">
            <small i18n>5 stars</small>
        </div>
        <div class="col-8">
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': getRate(rate.five)}"
                    aria-valuemin="0" attr.aria-valuemax={{total}}></div>
            </div>
        </div>
        <div class="col-1">
            <div>({{rate.five}})</div>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-2 px-2">
            <small i18n>4 stars</small>
        </div>
        <div class="col-8">
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': getRate(rate.four)}"
                    aria-valuemin="0" attr.aria-valuemax={{total}}></div>
            </div>
        </div>
        <div class="col-1">
            <div>({{rate.four}})</div>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-2 px-2">
            <small i18n>3 stars</small>
        </div>
        <div class="col-8">
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': getRate(rate.three)}"
                    aria-valuemin="0" attr.aria-valuemax={{total}}></div>
            </div>
        </div>
        <div class="col-1">
            <div>({{rate.three}})</div>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-2 px-2">
            <small i18n>2 stars</small>
        </div>
        <div class="col-8">
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': getRate(rate.two)}"
                    aria-valuemin="0" attr.aria-valuemax={{total}}></div>
            </div>
        </div>
        <div class="col-1">
            <div>({{rate.two}})</div>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-2 px-2">
            <small i18n>1 star</small>
        </div>
        <div class="col-8">
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': getRate(rate.one)}"
                    aria-valuemin="0" attr.aria-valuemax={{total}}></div>
            </div>
        </div>
        <div class="col-1">
            <div>({{rate.one}})</div>
        </div>
    </div>

</div>